node_modules

.github
.gitignore

.husky

.nx
.vscode

.editorconfig

.eslintignore
.eslintrc.json

.prettierignore
.prettierrc

appps/dashboard/.eslintrc.json
appps/dashboard/src/assets/.gitkeep

appps/production/.eslintrc.json

appps/production/public/.gitkeep